#footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 2px solid #dedede;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto 20px auto;
    width: 95%;
    z-index: -1;
}

#footer p {
    font-size: 18px;
    text-align: center;
}
