#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dedede;
    margin: 0 auto;
    width: 95%;
    z-index: -1;
}

.navbar {
    overflow: hidden;
}

.link,
.brand {
    color: #1b3b6f;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
}

.link {
    font-size: 18px;
    padding: 20px 16px;
    margin-top: 10px;
}

.brand {
    font-size: 33px;
    font-weight: 600;
    padding: 20px 16px 20px 0;
}

.caret-icon,
.expand-icon {
    margin-left: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.no-pr-navbar {
    padding: 20px 0 20px 16px !important;
}

.no-mt-menu-side {
    margin: 0 0 20px 0 !important;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-btn,
.menu-side-btn {
    color: #1b3b6f;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px 0 0 0;
}

.account-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    top: 70px;
    right: 35px;
    z-index: 1;
    padding-bottom: 10px;
    margin: 0;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 10px;
    margin: 0;
}

.dropdown-content .dropdown-link,
.account-content .dropdown-link {
    float: none;
    color: #1b3b6f;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.5s;
}

.account-content .dropdown-link {
    text-align: right;
}

.account-content .dropdown-link:first-child {
    font-weight: 600;
}

.link:visited,
.brand:visited,
.dropdown-link:visited {
    color: #1b3b6f;
}

#header .link:hover,
#header .brand:hover,
#header .dropdown-btn:hover,
#header .menu-icon:hover,
.close-icon:hover,
.menu-side-link:hover,
.menu-side-btn:hover {
    color: #ffc857;
    cursor: pointer;
}

.dropdown-content .dropdown-link:hover,
.account-content .dropdown-link:hover {
    background-color: #1b3b6f;
    color: #ffc857;
}

.dropdown:hover .dropdown-content,
.menu-dropdown:hover .sub-menu {
    display: block;
}

.account-icon {
    font-size: 35px;
}

.menu-icon,
.close-icon {
    font-size: 35px;
    color: #959595;
}

.menu-side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100% !important;
    width: 414px;
    z-index: 1;
    background-color: #ffffff;
    border-left: 2px solid #dedede;
    overflow: auto;
}

.menu-side-content {
    transform: translate(2px, 40px);
    margin-bottom: 150px;
}

.menu-side-link {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #1b3b6f;
    display: block;
    overflow: auto;
    margin: 20px 0;
}

.menu-side-btn {
    margin: 10px auto;
    width: 100%;
}

.sub-menu .menu-side-link {
    font-size: 16px;
}

.menu-account-icon {
    font-size: 180px;
    color: #1b3b6f;
    width: 100%;
    margin: 0 auto;
}

.username {
    text-align: center;
    color: #1b3b6f;
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (min-width: 926px) {
    .menu-side {
        display: none;
    }
}

@media only screen and (max-width: 925px) {
    #header .dropdown,
    #header .link {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .menu-side {
        width: 375px;
    }
}

@media only screen and (max-width: 365px) {
    .menu-side {
        width: 360px;
    }
}

@media only screen and (max-width: 330px) {
    .menu-side {
        width: 320px;
    }
}

@media only screen and (max-width: 300px) {
    .menu-side {
        width: 280px;
    }
}
