#team-generator .flex-container,
#name-picker .flex-container,
#yes-or-no .flex-container,
#decision-maker .flex-container,
#random-picker .flex-container,
#custom-list .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 50px 80px 50px;
}

#team-generator .random-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#team-generator .random-result > * {
    flex: 0 46%;
    margin: 0 8px 30px 8px;
}

.random-result {
    overflow: auto;
}

.random-result,
.random-setup {
    background-color: #f8f8f8;
    color: #000000;
    width: 555px;
    height: 551px;
    padding: 40px;
}

.random-result table,
.random-result td {
    border: 1px solid #1b3b6f;
    border-collapse: collapse;
    text-align: left;
    padding: 5px 50px 5px 10px;
    font-size: 14px;
}

.random-result th {
    font-weight: normal;
    text-align: center;
    padding: 5px 0;
    background-color: #1b3b6f;
    color: #ffffff;
}

#name-picker .random-result p,
#yes-or-no .random-result p,
#decision-maker .random-result p,
#random-picker .random-result p {
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 36px;
}

#custom-list .random-result ol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transform: translateX(8%);
    line-height: 3.5em;
}

#custom-list .random-result li::marker {
    font-size: 16px;
}

#custom-list .random-result li {
    min-width: 24%;
    margin-right: 40px;
    font-size: 27px;
}

.random-setup {
    position: relative;
    padding: 40px;
    font-size: 18px;
}

.random-setup select {
    border-radius: 5px;
    padding: 3px 15px 3px 3px;
}

.random-setup select:hover {
    cursor: pointer;
}

.random-setup select:focus,
.random-setup input[type='number']:focus,
.randomizer-btn button:focus {
    outline: none;
}

.random-setup textarea {
    width: 470px;
    height: 220px;
    resize: none;
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

.random-setup textarea:focus {
    outline: none;
    border-color: #959595;
    box-shadow: 0 0 0 0.15rem rgba(173, 171, 171, 0.473);
}

.random-setup input[type='number'] {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.random-setup input[type='number']::placeholder {
    color: #959595;
}

.check-duplicate label {
    font-size: 14px;
    position: absolute;
    left: 60px;
    bottom: 103px;
}

.check-duplicate input {
    margin-top: 10px;
}

.randomizer-btn {
    margin-top: 20px;
}

#custom-list .randomizer-btn {
    margin-top: 10px;
}

.randomizer-btn button {
    background-color: #1b3b6f;
    color: #e5e5e5;
    border: none;
    border-radius: 10px;
    padding: 6px 33px;
    font-size: 18px;
}

.randomizer-btn button:hover {
    cursor: pointer;
    color: #ffc857;
}

.random-setup .data-input {
    margin: 15px 0;
}

.random-setup .save-export {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.save-export button {
    background: none;
    border: none;
    color: #959595;
    font-size: 30px;
}

.save-export button:hover {
    cursor: pointer;
    color: #000000;
}

.save-export button:focus {
    outline: none;
}

.save-icon {
    margin-right: 10px;
}

@media only screen and (max-width: 1225px) {
    .random-result,
    .random-setup {
        width: 500px;
        height: 496px;
    }

    .random-setup textarea {
        width: 410px;
        height: 190px;
    }

    .check-duplicate label {
        bottom: 78px;
    }

    #custom-list .random-result li {
        margin-right: 38px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 1125px) {
    #team-generator .random-result > * {
        flex: 0 45%;
    }

    .random-result,
    .random-setup {
        width: 450px;
        height: 446px;
    }

    #custom-list .random-result li::marker {
        font-size: 16px;
    }

    #custom-list .random-result li {
        margin-right: 34px;
        font-size: 25px;
    }

    .check-duplicate label {
        font-size: 13px;
        bottom: 68px;
    }

    .random-setup textarea {
        width: 365px;
        height: 150px;
    }
}

@media only screen and (max-width: 1035px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        margin: 0 30px 80px 30px;
    }

    #team-generator .random-result > * {
        flex: 0 45%;
    }

    .random-result,
    .random-setup {
        width: 400px;
        height: 396px;
    }

    .random-setup {
        padding: 30px;
    }

    #custom-list .random-result li::marker {
        font-size: 15px;
    }

    #custom-list .random-result li {
        margin-right: 29px;
        font-size: 23px;
    }

    .check-duplicate label {
        font-size: 13px;
        left: 50px;
        bottom: 68px;
    }

    #custom-list textarea {
        height: 110px;
    }

    .random-setup textarea {
        width: 310px;
        height: 120px;
    }

    .randomizer-btn button {
        padding: 6px 30px;
        font-size: 16px;
    }

    .random-setup .save-export {
        right: 15px;
        bottom: 15px;
    }

    .save-export button {
        font-size: 25px;
    }
}

@media only screen and (max-width: 893px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        margin: 0 30px 100px 30px;
    }
    #team-generator .random-result > * {
        flex: 0 44%;
    }

    .random-result,
    .random-setup {
        width: 370px;
        height: 390px;
        padding: 30px;
        font-size: 16px;
    }

    #custom-list .random-result li::marker {
        font-size: 15px;
    }

    #custom-list .random-result li {
        margin-right: 28px;
        font-size: 21px;
    }

    .check-duplicate label {
        font-size: 12px;
        left: 49px;
        bottom: 74px;
    }

    #custom-list textarea {
        height: 110px;
    }

    .random-setup textarea {
        width: 290px;
        height: 125px;
    }

    .random-setup .save-export {
        right: 15px;
        bottom: 15px;
    }

    .save-export button {
        font-size: 25px;
    }
}

@media only screen and (max-width: 825px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        margin: 0 25px 100px 25px;
    }

    #team-generator .random-result > * {
        flex: 0 43%;
    }

    .random-result,
    .random-setup {
        width: 340px;
        height: 384px;
        padding: 25px;
        font-size: 15px;
    }

    #custom-list .random-result li::marker {
        font-size: 14px;
    }

    #custom-list .random-result li {
        margin-right: 27px;
        font-size: 19px;
    }

    .check-duplicate label {
        font-size: 12px;
        left: 45px;
        bottom: 81px;
    }

    #custom-list textarea {
        height: 110px;
    }

    .random-setup textarea {
        width: 290px;
        height: 100px;
    }

    .random-setup .save-export {
        right: 15px;
        bottom: 15px;
    }

    .save-export button {
        font-size: 25px;
    }
}

@media only screen and (max-width: 755px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 46%;
    }

    .random-result,
    .random-setup {
        width: 555px;
        height: 551px;
        padding: 40px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 3.5em;
    }

    #custom-list .random-result li::marker {
        font-size: 16px;
    }

    #custom-list .random-result li {
        margin-right: 40px;
        font-size: 27px;
    }

    .check-duplicate label {
        font-size: 14px;
        left: 60px;
        bottom: 103px;
    }

    #custom-list textarea {
        height: 220px;
    }

    .random-setup textarea {
        width: 470px;
        height: 220px;
    }

    .random-setup .save-export {
        right: 20px;
        bottom: 20px;
    }

    .randomizer-btn button {
        padding: 5px 30px;
        font-size: 18px;
    }

    .save-export button {
        font-size: 30px;
    }
}

@media only screen and (max-width: 615px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 45%;
    }

    .random-result,
    .random-setup {
        width: 505px;
        height: 501px;
        padding: 40px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 3.5em;
    }

    #custom-list .random-result li::marker {
        font-size: 15px;
    }

    #custom-list .random-result li {
        margin-right: 39px;
        font-size: 25px;
    }

    .check-duplicate label {
        font-size: 13px;
        bottom: 94px;
    }

    #custom-list textarea {
        height: 180px;
    }

    .random-setup textarea {
        width: 430px;
        height: 200px;
    }

    .random-setup .save-export {
        right: 20px;
        bottom: 20px;
    }

    .randomizer-btn button {
        border-radius: 7px;
        padding: 5px 30px;
        font-size: 18px;
    }

    .save-export button {
        font-size: 30px;
    }
}

@media only screen and (max-width: 545px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 44%;
    }

    .random-result,
    .random-setup {
        width: 450px;
        height: 446px;
        padding: 40px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 3.5em;
    }

    #custom-list .random-result li::marker {
        font-size: 15px;
    }

    #custom-list .random-result li {
        margin-right: 34px;
        font-size: 23px;
    }

    .check-duplicate label {
        font-size: 13px;
        bottom: 79px;
    }

    #custom-list textarea {
        height: 140px;
    }

    .random-setup textarea {
        width: 370px;
        height: 160px;
    }

    .random-setup .save-export {
        right: 20px;
        bottom: 20px;
    }

    .randomizer-btn button {
        border-radius: 7px;
        padding: 5px 30px;
        font-size: 18px;
    }

    .save-export button {
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 43%;
    }

    .random-result,
    .random-setup {
        width: 400px;
        height: 404px;
        padding: 30px;
        font-size: 16px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 3.5em;
    }

    #custom-list .random-result li::marker {
        font-size: 14px;
    }

    #custom-list .random-result li {
        margin-right: 31px;
        font-size: 21px;
    }

    .check-duplicate label {
        font-size: 12px;
        left: 48px;
        bottom: 83px;
    }

    #custom-list textarea {
        height: 115px;
    }

    .random-setup textarea {
        width: 310px;
        height: 135px;
    }

    .random-setup .save-export {
        right: 15px;
        bottom: 15px;
    }

    .randomizer-btn button {
        border-radius: 7px;
        padding: 5px 30px;
        font-size: 16px;
    }

    .save-export button {
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 43%;
    }

    .random-result,
    .random-setup {
        width: 350px;
        height: 354px;
        padding: 25px;
        font-size: 15px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 3em;
    }

    #custom-list .random-result li::marker {
        font-size: 14px;
    }

    #custom-list .random-result li {
        margin-right: 28px;
        font-size: 19px;
    }

    .check-duplicate label {
        font-size: 12px;
        left: 44px;
        bottom: 72px;
    }

    #custom-list textarea {
        height: 90px;
    }

    .random-setup textarea {
        width: 290px;
        height: 110px;
    }

    .random-setup .save-export {
        right: 15px;
        bottom: 15px;
    }

    .randomizer-btn button {
        border-radius: 7px;
        padding: 5px 30px;
        font-size: 15px;
    }

    .save-export button {
        font-size: 25px;
    }
}

@media only screen and (max-width: 390px) {
    #team-generator .flex-container,
    #name-picker .flex-container,
    #yes-or-no .flex-container,
    #decision-maker .flex-container,
    #random-picker .flex-container,
    #custom-list .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #team-generator .random-result > * {
        flex: 0 42%;
    }

    .random-result,
    .random-setup {
        width: 310px;
        height: 314px;
        padding: 25px;
        font-size: 14px;
        margin-bottom: 50px;
    }

    #custom-list .random-result ol {
        line-height: 2.8em;
    }

    #custom-list .random-result li::marker {
        font-size: 14px;
    }

    #custom-list .random-result li {
        margin-right: 24px;
        font-size: 18px;
    }

    .check-duplicate label {
        font-size: 12px;
        left: 44px;
        bottom: 58px;
    }

    #custom-list textarea {
        height: 70px;
    }

    .random-setup textarea {
        width: 260px;
        height: 90px;
    }

    .random-setup .save-export {
        right: 10px;
        bottom: 10px;
    }

    .randomizer-btn button {
        border-radius: 5px;
        padding: 5px 30px;
        font-size: 14px;
    }

    .save-export button {
        font-size: 20px;
    }
}
